* {
	box-sizing:			border-box;
}

body {
	font-family:		Nunito; Arial, San-serif;
	background-image:	url(/images/tree_bark.png)
	color:				#333;
}

/* no links should be underlined */
a {
	text-decoration: 	none;
	color:				blue;
}


.button {
	display: inline-block; /* display inline but with specific dimensions */
	width: 				90px;
	cursor: 			pointer;
	font-size: 			12px;
	background-color: 	pink;
	border:				2px solid white;
	color:				black; /* text color */
	text-decoration: 	none; /* no underlining */
	padding:			5px 10px;
	text-align: 		center;
	border-radius: 		4px; /* rounder corners */
	margin-left:		5px;
	margin-right: 		5px;
	text-shadow:		0 0 2px rgba(0,0,0, 0.4); /* improves readability */
}

/* a link that has both classes. Overrides the previous declaration*/
.button.highlighted {
	background-color: #c0fff4;
}


header {
	/*width:				100%; */
	height:				50px;
	background-color:	black;
	color:				pink;
	display:			flex; /* http://learnlayout.com/flexbox.html */
	padding:			0 20px;
}

/* every immediate child should be vertically centered */
header > * {
	margin: auto 0;
}
header #logo {
	display: flex;
	margin-right: 20px;
}

header a {
	color:				pink;
	text-decoration: 	none;
}

header #user-links {
	flex:				1;
	-webkit-flex:		1;
	text-align:			right;
}

header #user-links > * {
	display: inline-block;
}

header #user-links #welcome-message {
	font-size: 			14px;
}

.flash {
	text-align: 		center;
	margin:				5px;
	padding:			5px;
	background-color:	rgba(67, 183, 120, 0.75);
	border-radius: 		4px;
	box-shadow: 		0 0 3px rgba(0, 0, 0, 0.4);
	color: 				white;
}

.flash.notice {
	background-color: 	rgba(67, 183, 120, 0.75);
}

.flash.error {
	background-color: 	rgba(169, 29, 42, 0.75);
}

#container {
	background-color: 	white;
	margin: 			40px;
	box-shadow: 		0 0 5px rgba(0, 0, 0, 0.4);
	padding:			10px;
}

.link {
	background-color:	#c0ffd5;
	box-shadow:			0 0 5px rgba(0, 0, 0, 0.4);
	/* 10px for top and bottom, inherit from parent for left and right */
	margin: 			10px inherit;
	padding:			15px 10px;
}

.link a.title {
	/* to make it more prominent */
	letter-spacing: 	1px;
}

.link .description {
	margin: 			10px inherit;
	font-size: 			14px;
}

.link .source {
	/* http://learnlayout.com/float.html */
	float: right;
	font-size: 12px;
}

h1 {
	font-size: 			14px;
}

form {
	text-align: 		left;
}

form p {
	margin: 			10px 0;
}

form input[type="text"], form input[type="password"] {
	border:				1px solid black;
	font-size: 			12px;
	width:				400px;
}

footer {
	display:			flex;
	background-color:	rgba(0, 0, 0, 0.2);
	text-align:			center;
	font-size: 			10px;
	bottom:				0;
	width:				100%;
	position:			fixed;
	font-family:		Nunito; Arial, San-serif;
}

footer > * {
	margin: auto inherit;
}

footer img {
    /* http://stackoverflow.com/questions/10658475/3px-extra-height-on-a-div-with-an-image-inside-it */
    vertical-align: top;
  }

 footer #technologies {
  	-webkit-flex:		1;
  	flex:				1;
  }

 footer p {
  	padding:			5px 25px;
  }



