<!DOCTYPE html>
<html>
<head>
				<title>Bookmark manager</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/application.css">
		<link href='http://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>
</head>
<body>
	<%= partial :header %> <!--used to partial to welcome message but now header links to welcome message -->
	<%= partial :flash %>
	<%= yield %>
	<%= partial :footer %>
</body>
</html>