<li class='link'>
	<a class='title' href="<%= link.url %>"><%= link.title %></a>
	<div class='description'>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...
	</div>
	<span class='source'>
		added today by
		<a href="#">vinaybeta@yahoo.com</a>
	</span>
</li>